body {
    padding: 20px;
    margin: 20px;
    font-family: Georgia;
}
h2 {
    font-family: Georgia;
    font-size: 20;
    text-align: center;
}
h2 {
    font-family: Georgia;
    font-size: 20;
}
h3 {
    font-family: Georgia;
}
header {
    border: 5px rgb(248, 211, 88);
    background-color: rgb(248, 211, 88);
    color: black;
    font-family: Georgia;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
main {
    padding: 0px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
}
footer {
    padding: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}
div {
    margin-top: 20px;
}