.immigration-vector-photo {
    float: right;
    border-radius: 5px;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: Georgia;
}
para Social {
    padding: 0px;
    margin: 0px;
    float: left;
}
h3 {
    font-family: Georgia;
}