.immigration-vector-photo {
    float: right;
    border-radius: 5px;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: Georgia;
}
para Social {
    margin: 5px;
    padding: 10px;
}
h2 {
    font-family: Georgia;
    font-size: 35;
}
h3 {
    font-family: Georgia;
}
title {
    background-color: rgb(195, 227, 121);
    color: black;
}
