.immigration-vector-photo {
    float: right;
    border-radius: 5px;
}
body {
    padding: 20px;
    margin: 0px;
    font-family: Georgia;
}
para Social {
    margin: 5px;
    padding: 10px;
}
h2 {
    font-family: Georgia;
    font-size: 20;
}
h3 {
    font-family: Georgia;
}
header {
    border: 3px ;
    background-color: rgb(195, 227, 121);
    color: black;
    font-family: Georgia;
    height: 120px;
    padding: 5px;
    text-align: center;
}