body {
    padding: 20px;
    margin: 20px;
    font-family: Georgia;
}
h2 {
    font-family: Georgia;
    text-align: center;
    font-size: 20px;
}
h3 {
    font-family: Georgia;
}
header, footer {
    border: 5px rgb(248, 211, 88);
    background-color: rgb(248, 211, 88);
    color: black;
    font-family: Georgia;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}
body{
    height: 400px;
}
main {
    padding: 0px;
    margin-right: 20px;
    margin-left: 20px;
}
div {
    margin: 20px;
    margin-top: 40px;
}
li {
    margin: 5px 3em;
    padding: 0px;
}
.loki_photo {
    width: 450px;
    float: left;
    border-radius: 5px;
    padding: 0;
}
aside {
    background-color: rgb(248, 211, 88);
    font-size: 20px;
    font-family: Georgia;
    color: black;
    border: 2px solid black;
    float: right;
}