* {
    padding: 0px;
    margin: 10px;
    color: black;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    border: 3px solid black;
    margin: 2em;
    padding: 1em;
    background-color:rgb(143, 135, 46);
    height: 10%
}

aside {
    background-color: rgb(180, 201, 72);
    text-align: center;
    font-size: 30px;
    font-family: Georgia;
    color: white;
    border: 2px solid black;
    float: right;
    width: 42%;
}

section aside {
    background-color: rgb(180, 201, 72);
    text-align: center;
    font-size: 30px;
    font-family: Georgia;
    color: white;
    border: 2px solid black;
    float: right;
    width: 42%;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
    background-color: black;
    border: rgb(143, 135, 46);
}

footer section {
    color: rgb(143, 135, 46);
}

header {
    border: 3px solid rgb(143, 135, 46);
    background-color: black;
    font-family: Georgia;
    height: 120px;
    padding: 0;
}

header h1 {
    color: black;
    background-color: rgb(143, 135, 46);
    font-size: 60;
}

header * {
    color: #F6B018;
}

hr {
    padding: 0px;
    border: 4px solid #F6B018;
}

li {
    margin: 5px 3em;
    padding: 0px;
}

/* ----------------------------------------------- */
/* Classes */

.loki_photo {
    width: 450px;
    float: left;
    border-radius: 5px;
    padding: 0;
}

.page {
    padding: 2em;
    background-color: #b2d49b;
    border: 3px solid #266126;
    border-radius: 10px;
    width: 50%;
    float: right;
}

body {
    color: rgb(49, 194, 49);
}

h1 {
    color: black;
    text-align: center;
    background-color: rgb(143, 135, 46);
    font-size: 40;
}

h2 {
    color: black;
    text-align: center;
}
