* {
    padding: 0px;
    margin: 10px;
    color: black;
}

footer * {
    color: rgb(143, 135, 46);
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    border: 3px solid black;
    margin: 2em;
    padding: 1em;
    background-color:rgb(143, 135, 46);
    height: 80%
}

aside {
    background-color: rgb(143, 135, 46);
    text-align: center;
    font-size: 20px;
    font-family: Georgia;
    color: black;
    border: 2px solid black;
    float: right;
    width: 42%;
}

main aside {
    background-color: rgb(143, 135, 46);
    text-align: center;
    font-size: 20px;
    font-family: Georgia;
    color: black;
    border: 2px solid black;
    float: right;
    width: 42%;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
    background-color: black;
    border: 3px solid rgb(143, 135, 46);
}

header {
    border: 3px solid rgb(143, 135, 46);
    background-color: black;
    font-family: Georgia;
    height: 120px;
    padding: 0px;
}

header h1 {
    color: black;
    background-color: rgb(143, 135, 46);
    font-size: 60px;
}

header * {
    color: #F6B018;
}

hr {
    padding: 0px;
    border: 4px solid #F6B018;
}

li {
    margin: 5px 3em;
    padding: 0px;
}

/* ----------------------------------------------- */
/* I Dont know how to make the background for the <main> part 
go all the way down so oh well */

.loki_photo {
    width: 450px;
    float: left;
    border-radius: 5px;
    padding: 0;
}

.page {
    padding: 2em;
    background-color: #b2d49b;
    border: 3px solid #266126;
    border-radius: 10px;
    width: 50%;
    float: right;
}

body {
    color: rgb(143, 135, 46);
}

h1 {
    color: black;
    text-align: center;
    background-color: rgb(143, 135, 46);
    font-size: 40px;
}

h2 {
    color: rgb(143, 135, 46);
    text-align: center;
    font-size: 35px;
}

h3 {
    color: black;
}
